.navigation-links-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navigation-links-text1 {
    margin-left: 32px;
  }
  .navigation-links-text2 {
    margin-left: 32px;
  }
  
  @media(max-width: 767px) {
    .navigation-links-nav {
      align-items: flex-start;
      flex-direction: column;
    }
    .navigation-links-text {
      margin-bottom: 16px;
    }
    .navigation-links-text1 {
      margin-left: 20px;
      margin-bottom: 16px;
    }
    .navigation-links-text2 {
      margin-left: 20px;
      margin-bottom: 16px;
    }
  }
  
  .photo-collection-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .photo-collection-header {
    width: 100%;
    height: 7vh;
    display: flex;
    max-width: 100%;
    align-items: center;
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .photo-collection-image {
    height: 2rem;
  }
  .photo-collection-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .photo-collection-nav a {
    color: #272727;
  }
  .photo-collection-burger-menu {
    display: none;
  }
  .photo-collection-icon {
    width: 16px;
    height: 16px;
    display: flex;
  }
  .photo-collection-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .photo-collection-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .photo-collection-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: space-between;
  }
  .photo-collection-image1 {
    height: 2rem;
  }
  .photo-collection-close-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-collection-icon02 {
    width: 16px;
    height: 16px;
  }
  .photo-collection-icon04 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .photo-collection-icon06 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .photo-collection-icon08 {
    width: 16px;
    height: 16px;
  }
  .photo-collection-container2 {
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    align-items: flex-start;
  }
  .photo-collection-container3 {
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    padding-left: 48px;
    flex-direction: column;
  }
  .photo-collection-container5 {
    top: 0px;
    flex: 0 0 auto;
    right: 0px;
    width: 60%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }

  .photo-collection-button {
    align-self: center;
  }
  .photo-collection-button1 {
    align-self: center;
  }
  .photo-collection-footer {
    width: 100%;
    height: 3vh;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .photo-collection-footer span{
    font-size: 0.75em;
  }
  @media(max-width: 1200px) {
    .photo-collection-container3 {
      width: 30%;
    }
    .photo-collection-container5 {
      width: 70%;
    }
  }
  @media(max-width: 991px) {
    .photo-collection-container2 {
      flex-direction: column;
    }
    .photo-collection-container3 {
      width: 100%;
      height: 30%;
    }
    .photo-collection-container5 {
      width: 100%;
      height: 70%;
      position: absolute;
      margin-top: 27vh;
      align-self: center;
    }
  }
  @media(max-width: 767px) {
    .photo-collection-header {
      padding-left: 32px;
      padding-right: 32px;
    }
    .photo-collection-nav {
      display: none;
    }
    .photo-collection-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .photo-collection-footer {
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 5px;
    }
    .photo-collection-text {
      text-align: center;
      margin-left: 16px;
      margin-right: 16px;
    }
    .photo-collection-container3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media(max-width: 479px) {
    .photo-collection-header {
      padding: 16px;
    }
    .photo-collection-mobile-menu {
      padding: 16px;
    }
    .photo-collection-footer {
      flex-direction: column;
    }
    .photo-collection-text {
      align-self: center;
      margin-top: 16px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 16px;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 8px;
    color: #272727;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #272727;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: right;
    background-color: #f6f6f6;
    padding: 2px 16px;
    color: #272727;
    height: 10%;
  }
  
  .thumbnails:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 4 columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .main {
    width: 100%;
    height: 75%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .photo-canvas {
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-canvas img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  .thumbnails {
    background-color: #f6f6f6;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Add a transparency effect for thumbnail images */
  .demo {
    opacity: 0.6;
  }

  .photo-canvas .demo {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
 
  